a {
  color: #009;
}

body {
  background-color: #444;
}

div#wrapper {
  background-color: #fff;
  margin: 0 1em 1em 1em;
}

h1.header { 
  background-color: #fff;

  font-size: 4em;
  text-align: center;

  padding: 1em;
}


