h1.header { 
  font-size: 4em;
  text-align: center;
  margin: 1em;
}

#contact {
  height: 250px;
  margin-left: 2em;
  font-size: 2em;
  width: 800px;
  float: left;
}

#contact img { 
  height: 200px;
  border: 5px #ddd solid;
  float: left; 
  margin-right: 1em;
}

#contact ul.links {
  margin: 1em;
}

#contact ul.links li {
  margin-right: 1em;
  float: left;
}

ul.links a {
  display: inline-block;
  padding: 0.2em 0.5em;

  border: 2px solid #777;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;

  text-decoration: none;
  font-size: 70%;

  color: #222;
  border-color: #777;
  background-color: #ddd;
}

.links a:hover {
  background-color: #aaa;
}

.links a.twitter {
  color: #002244;
  border: 2px solid #557799;
  background-color: #C0DEED;
}

.links a.twitter:hover {
  background-color: #5599bb;
}
