h1 { 
  font-size: 4em;
  text-align: center;
  margin: 1em;
}

#contact {
  height: 250px;
  margin-left: 2em;
  margin-top: 20px;
  font-size: 2em;
}

#contact img { 
  height: 200px;
  border: 5px #ddd solid;
  float: left; 
}

#contact dl {
  float: left;
  width: 800px;
}

#contact dt {
  width: 150px;
  float: left;
  clear: left;
  text-align: right;

  margin-right: 1em;
}
#contact dt:after { 
  content: ":";
}

#contact dd {
}
