#projects {
  width: 500px;
  float: right;
  margin-right: 2em;

  background-color: #444;
  padding: 2em;

  border-radius: 2em 0 0 2em;
  -moz-border-radius: 2em 0 0 2em;
}

#projects a {
}

#projects h1 {
  font-size: 2em;
  color: #fff;
}

li.project {
  padding: 1em;
  margin-top: .5em;

  border-radius: .5em;
  -moz-border-radius: .5em;

  background-color: #fff;
}

li.project h2 {
  font-size: 130%;
}

li.project p {
  padding-top: 0.5em;
}

li.project ul.tags {
  margin-top: 1em;
}

li.project ul.tags li {
  display: inline;

  margin-left: 1em;
  padding: 0.3em;

  border-radius: 0.3em;
  -moz-border-radius: 0.3em;

  background: #ccc;
}
