#skills {
  background: #444;
  width: 650px;
  float: left;

  clear: left;
  padding: 2em;
  padding-left: 0;

  border-radius: 0 2em 0 0;
  -moz-border-radius: 0 2em 0 0;
}

#skills h2 {
  color: #fff;
}

#skills ul {
  margin-top: 1em;
  margin-bottom: 2em;

  list-style: disc;
  padding: 1em;
  background-color: #fff;

  border-radius: .5em;
  -moz-border-radius: .5em;
}

#skills li {
  margin-left: 1em;
  line-height: 2em;
}
