<!DOCTYPE html>
<html>
<head>
  <title>Dmitry Ratnikov</title>

  <%= stylesheet_link_tag 'reset', 'base', 'profile', 'projects' , 'skills' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
